
.stats{
    &-up, &-down{
        font-size:0.9rem;
        font-weight: $fw-bold;
    }
    
    &-up::before, &-down::before{
        content:'';
        height:0.5rem;
        width: 0.5rem;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 0.5rem;
    }

    &-up{
        color:$c-limegreen;

        &::before{
            background-image:url('../../assets/icons/icon-up.svg');
        }
    }

    &-down{
        color:$c-brightred;

        &::before{
            background-image:url('../../assets/icons/icon-down.svg');
        }
    }
}